<%- include('partials/html-start-doc'); %>
    <!-- Start Body -->
    <%- include('partials/menu'); %>
        <%- include('partials/header'); %>
            <main id="acopon">
                <!-- Intro Hero -->
                <section class="container-flex hero acopon-hero py-5 pos-relative">
                    <div class="pos-absolute headerGradient"></div>
                </section>
                <!-- Intro Section -->
                <section id="postHero" class="container-flex padding-y-100">
                    <div class="container px-5" data-aos="fade-up">
                        <h1>Branding, Identity, and Print</h1>
                        <h3>Acopon Brewing Co.</h3>
                    </div>
                    <div class="container py-5 text-center content-max" data-aos="fade-up">
                        <div>
                            <div class="img-large">
                                <img class="img-size my-1" src="/assets/images/interior/acopon/001_AcoponBrewingCo.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                        </div>
                    </div>
                    <div class="container px-5 content-max">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card p-3 detailsCard">
                                    <div class="card-body">
                                        <div class="p-3">
                                            <p class="fs-smaller"><strong>Dates:</strong><br>
                                                2018-Present</p>
                                        </div>
                                        <div class="p-3">
                                            <p class="fs-smaller"><strong>Main Collaborators:</strong><br>
                                                John McIntosh (Founder)<br>
                                                Dave Niemeyer (Founder)<br>
                                            </p>
                                        </div>
                                        <div class="p-3">
                                            <p class="fs-smaller"><strong>My Role:</strong><br>
                                                Concepting<br>
                                                Identity Design<br>
                                                Brand Guidelines<br>
                                                Print Design<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <p><b>Acopon(ak’-o-pon)</b><br>
                                    A restorative, or cordial medicine or application.<br><br>

                                    A local brewery I have also been fortunate enough to work with since day one. I was
                                    approached to helped create the main brand identity for this brewery in Dripping
                                    Springs,
                                    Tx. The two founders are very big proponents of traditional English ales, and aimed
                                    to
                                    brew
                                    these type of beers as their mainstays. Once they had the name chosen (definition
                                    above), I
                                    explored a variety of ideas that all had to do with health or healing. In the end we
                                    decided
                                    on using a Plague Doctor for their brand identity. In the times of the bubonic
                                    plague,
                                    most
                                    plague doctors were simply public servants and not doctors at all. In that same
                                    sense, a
                                    pint of Acopon Brewing Co. beer may restore your spirit, though it's not advocated
                                    to
                                    actually be healthy for you, especially in excess.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Society -->
                <section class="container-flex">
                    <div class="container px-5 content-max">
                        <div class="container text-center">
                            <div class="img-large">
                                <img class="img-size my-1" src="/assets/images/interior/acopon/005_AcoponSociety.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                        </div>
                        <p>Apart from the over arching brand identity, which has received countless amounts of love and
                            admiration from visiting patrons, the founders of Acopon Brewing Company have done well to
                            continue with the theme of English and European texts, stories, and legends. With beer names
                            such as Gas Pipes, named after the old street light systems used before electricity; to beer
                            names such as Mina Pale Ale and Renfield IPA inspired by the characters from Bram Stoker's
                            Dracula.<br><br>

                            The brewery itself is very small, so packaged beer is not really a thing, and project are
                            few
                            and far between. Though they have seen great success based on their theme and identity,
                            especially in the realm of merchandise.</p>
                    </div>
                </section>
                <!-- Beer Logos -->
                <!-- ADD Cask HERO -->
                <section class="container-flex padding-y-100">
                    <div class="container-flex cask-hero padding-top-100">
                        <h1 class="text-light">Cask Ale Identities</h1>
                    </div>
                    <div class="container py-5 text-center">
                        <div class="img-medium">
                            <img class="img-size my-1" src="/assets/images/interior/acopon/012_GasPipes.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-medium">
                            <img class="img-size my-1" src="/assets/images/interior/acopon/013_Homunculus.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-medium">
                            <img class="img-size my-1" src="/assets/images/interior/acopon/014_OldPounder.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-medium">
                            <img class="img-size my-1" src="/assets/images/interior/acopon/015_RotatingCask.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                    </div>
                </section>
                <!-- CREATE HERO FOR HANS TRAPP -->
                <!-- <section class="container-flex">
                <div class="container">
                    <h1>Hans Trapp</h1>
                </div>
            </section> -->
                <!-- CREATE HERO Rat King -->
                <!-- <section class="container-flex">
                <div class="container">
                    <h1>Rat King</h1>
                </div>
            </section> -->
                <!-- MERCH -->
                <section class="container-flex padding-y-100">
                    <div class="container text-center">
                        <h1>Promotionals</h1>
                        <div class="img-medium">
                            <img class="img-size my-1" src="/assets/images/interior/acopon/010_YearOne_EventPromo.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-medium">
                            <img class="img-size my-1" src="/assets/images/interior/acopon/010_YearTWO_EventPromo.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                    </div>
                </section>




            </main>

            <%- include('partials/get-in-touch'); %>

                <%- include('partials/footer'); %>
                    <!--   Single page scripts -->
                    <script src="/assets/js/header.js" type="text/javascript"></script>
                    <!-- End Body -->
                    <%- include('partials/html-end-doc'); %>