<%- include('partials/html-start-doc'); %>
    <!-- Start Body -->
    <%- include('partials/menu'); %>
        <%- include('partials/header'); %>
            <main id="adscend">
                <!-- Intro Hero -->
                <section class="container-flex hero adscend-hero py-5 pos-relative">
                    <div class="pos-absolute headerGradient"></div>
                    <div class="container text-center padding-y-200 content-max">
                        <div class="px-5">
                            <img class="img-size logo-max-size"
                                src="/assets/images/interior/adscend-ui/adscendmedia_logo_white.svg"
                                alt="Adscend Media Logo" data-aos="fade-up">
                            <h3 class="mt-5 text-light">
                                Making Every Experience Rewarding
                            </h3>
                            <img class="img-size" style="max-width:700px"
                                src="/assets/images/interior/adscend/adscend_icons.gif" alt="Adscend Media Logo"
                                data-aos="fade-up">
                        </div>
                    </div>
                </section>
                <!-- Intro Section -->
                <section id="postHero" class="container-flex padding-y-100">
                    <div class="container px-5 content-max" data-aos="fade-up">
                        <h1>Branding, Web & Print Design</h1>
                        <h3>Adscend Media</h3>
                    </div>
                    </div>
                    <div class="container px-5 content-max">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card p-3 detailsCard">
                                    <div class="card-body">
                                        <div class="p-3">
                                            <p class="fs-smaller"><strong>Dates:</strong><br>
                                                2014-2018</p>
                                        </div>
                                        <div class="p-3">
                                            <p class="fs-smaller"><strong>Main Collaborators:</strong><br>
                                                Tony Cohn (Marketing)<br>
                                                Fehzan Ali (CEO)<br>
                                                Mike Dunn (CTO)<br>
                                            </p>
                                        </div>
                                        <div class="p-3">
                                            <p class="fs-smaller"><strong>My Role:</strong><br>
                                                Concepting<br>
                                                Messaging<br>
                                                Brand Updates<br>
                                                Brand Standards<br>
                                                User Flows & Wireframes<br>
                                                Web Design and Layout<br>
                                                Custom Animations<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <p>I worked with Adscend Media for nearly five years, in a market I never even realized
                                    existed before. Adscend Media is an Ad Network, that also provides monetization
                                    solutions for websites and now, apps. It began as a two person operation and ran
                                    that
                                    way for the first four years of it's existence. At the time, their main monetization
                                    solution was something called Content Locking. Essentially a way to require
                                    viewers/users to complete an ad offer of some sort before they can access the
                                    remainder
                                    of the content. The online ad world moves quickly though, and content locking soon
                                    became a thing of the past. This is where changes to try to grow Adscend Media were
                                    made, and I was brought onto the team as their sole Designer, and technically
                                    speaking
                                    their Art Director.<br><br>

                                    Though the company had already been around for a few years, we were for the most
                                    part
                                    starting from scratch. First we began by designing and deploying a new Monetization
                                    Solution called an Offer Wall as seen this the UI project. Then we began to shift
                                    focus
                                    to the brand itself. I spearheaded a rebrand of Adscend Media's identity, as well as
                                    repositioning the brand into the Rewarded Ad Space through a shift in messaging and
                                    ethos, of "Making Every Experience Rewarding."</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="container-flex padding-y-100">
                    <div class="container px-5 content-max text-center">
                        <h2>Primary Identity</h2>
                        <img class="img-size logo-max-size my-5"
                            src="/assets/images/interior/adscend/adscendmedia_logo.svg" alt="Adscend Media Logo"
                            data-aos="fade-up">
                    </div>
                </section>
                <!-- Colors -->
                <section class="container-flex padding-y-100">
                    <div class="container px-5 content-max text-center">
                        <h2 class=" my-4">Colors</h2>
                        <img class="img-size logo-max-size m-2" src="/assets/images/interior/adscend/color1.svg"
                            alt="Adscend Media Logo" data-aos="fade-up">
                        <img class="img-size logo-max-size m-2" src="/assets/images/interior/adscend/color2.svg"
                            alt="Adscend Media Logo" data-aos="fade-up">
                        <img class="img-size logo-max-size m-2" src="/assets/images/interior/adscend/color3.svg"
                            alt="Adscend Media Logo" data-aos="fade-up">
                        <img class="img-size logo-max-size m-2" src="/assets/images/interior/adscend/color4.svg"
                            alt="Adscend Media Logo" data-aos="fade-up">
                    </div>
                </section>
                <!-- TYPEFACE -->
                <section class="container-flex padding-y-100">
                    <div class="container px-5 content-max text-center">
                        <h2 class=" my-4">Typography</h2>
                        <img class="img-size my-3" style="max-width:926px;"
                            src="/assets/images/interior/adscend/Museo_fullwidth.png" alt="Adscend Media Logo"
                            data-aos="fade-up">
                        <img class="img-size my-3" style="max-width:926px;"
                            src="/assets/images/interior/adscend/Lato_fullwidth.png" alt="Adscend Media Logo"
                            data-aos="fade-up">
                    </div>
                </section>
                <!-- patterns -->
                <section class="container-flex adscend-pattern padding-y-200">
                    <div class="container px-5 content-max text-center">
                        <h2 class="text-light my-3">Patterns </h2>
                    </div>
                </section>
                <!-- Homepage -->
                <section class="container-flex padding-y-100">
                    <div class="container px-5 content-max text-center">
                        <h2 class=" my-3">Landing Page</h2>
                        <div class="img-large mt-5">
                            <img class="img-size my-2" src="/assets/images/interior/adscend/adscend_web_001.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-medium">
                            <img class="img-size my-2" src="/assets/images/interior/adscend/adscend_web_002.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-medium">
                            <img class="img-size my-2" src="/assets/images/interior/adscend/adscend_web_003.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-medium">
                            <img class="img-size my-2" src="/assets/images/interior/adscend/adscend_web_004.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-medium">
                            <img class="img-size my-2" src="/assets/images/interior/adscend/adscend_web_005.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-medium">
                            <img class="img-size my-2" src="/assets/images/interior/adscend/adscend_web_006.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-medium">
                            <img class="img-size my-2" src="/assets/images/interior/adscend/adscend_web_007.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-large">
                            <img class="img-size my-4" src="/assets/images/interior/adscend/home-mobile.png"
                                alt="Adscend Media Homepage Mobile" data-aos="fade-up">
                        </div>
                    </div>
                </section>
                <!-- Interior -->
                <section class="container-flex padding-y-100">
                    <div class="container px-5 content-max text-center">
                        <h2 class=" my-3">Interior Pages</h2>
                        <div class="img-medium">
                            <img class="img-size my-2" src="/assets/images/interior/adscend/adscend_web_008.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-medium">
                            <img class="img-size my-2" src="/assets/images/interior/adscend/adscend_web_009.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-large">
                            <img class="img-size my-4" src="/assets/images/interior/adscend/mobile_interior.png"
                                alt="Adscend Media Homepage Mobile" data-aos="fade-up">
                        </div>
                        <div class="img-large">
                            <img class="img-size my-2" src="/assets/images/interior/adscend/adscend_web_010.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-medium">
                            <img class="img-size my-2" src="/assets/images/interior/adscend/adscend_web_011.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-medium">
                            <img class="img-size my-2" src="/assets/images/interior/adscend/adscend_web_012.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                    </div>
                </section>
                <!-- Sign Up -->
                <section class="container-flex padding-y-100">
                    <div class="container px-5 content-max text-center">
                        <h2 class=" my-3">Sign Up Screen</h2>
                        <div class="img-large">
                            <img class="img-size my-3" src="/assets/images/interior/adscend/adscend_web_013.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-large">
                            <img class="img-size my-3" src="/assets/images/interior/adscend/adscend_web_014.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-medium">
                            <img class="img-size my-3" src="/assets/images/interior/adscend/adscend_web_015.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-medium">
                            <img class="img-size my-3" src="/assets/images/interior/adscend/adscend_web_016.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                        <div class="img-large my-3">
                            <img class="img-size my-2" src="/assets/images/interior/adscend/mobile-signup.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                    </div>
                </section>
                <!-- Marketing -->
                <section class="container-flex text-center padding-y-100">
                    <h2 class=" px-5 my-5">Marketing, Presentations, & Inforgraphics</h2>
                    <div class="container-flex adscend-pattern">
                        <div class="containerpadding-y-100">
                            <div class="img-large px-5">
                                <img class="img-size my-3"
                                    src="/assets/images/interior/adscend/marketing/panel_book.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                        </div>
                    </div>
                    <div class="container content-max padding-y-100">
                        <div class="px-5">
                            <p class="m-5">This panel was used primarily for Advertisers, focusing on Data, and Fraud
                                Prevention. Below is
                                just a few pages form the 29 Page Panel Book.</p>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/PanelBook_001.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/PanelBook_002.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/PanelBook_003.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/PanelBook_004.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/PanelBook_005.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/PanelBook_006.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/PanelBook_007.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/PanelBook_008.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                        </div>
                    </div>
                    <div class="container content-max text-center padding-y-100">
                        <h2 class="my-5">Developer Sales Deck</h2>
                        <p class="m-5">This sales deck was created for App Developers who are looking for new ways to
                            Monetize their
                            app. This deck was also used on the Adscend Media websites, and offered a bonus to
                            Developers
                            who read through it.
                        </p>
                        <div class="px-5">
                            <div class="img-large">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/sales_deck.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/salesdeck001.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/salesdeck002.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/salesdeck003.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/salesdeck004.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/salesdeck005.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/salesdeck006.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/salesdeck007.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/salesdeck008.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/salesdeck009.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/salesdeck010.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/salesdeck011.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                            <div class="img-medium">
                                <img class="img-size my-1"
                                    src="/assets/images/interior/adscend/marketing/salesdeck012.png"
                                    alt="Adscend Media Homepage" data-aos="fade-up">
                            </div>
                        </div>
                    </div>
                    <div class="container content-max text-center padding-y-100">
                        <h2 class="my-5">Market Research Infographic</h2>
                        <p class="m-5 text-center">A sales inforgraphic for our Market Research surveys, created for
                            potential Market
                            Research Partners and Advertisers.
                        </p>
                        <div class="px-5 img-large">
                            <img class="img-size my-1" src="/assets/images/interior/adscend/marketing/MR_info.png"
                                alt="Adscend Media Homepage" data-aos="fade-up">
                        </div>
                    </div>
                </section>





            </main>

            <%- include('partials/get-in-touch'); %>

                <%- include('partials/footer'); %>
                    <!--   Single page scripts -->
                    <script src="/assets/js/header.js" type="text/javascript"></script>
                    <!-- End Body -->
                    <%- include('partials/html-end-doc'); %>