<%- include('partials/html-start-doc'); %>
    <!-- Start Body -->
    <%- include('partials/menu'); %>
        <%- include('partials/header'); %>
            <main id="adscend" class="bg-white">
                <!-- Intro Hero -->
                <section class="container-flex hero adscendui-hero py-5 pos-relative">
                    <div class="pos-absolute headerGradient"></div>
                    <div class="container px-5 text-center padding-y-200 content-max">
                        <img class="img-size logo-max-size"
                            src="/assets/images/interior/adscend-ui/adscendmedia_logo_white.svg"
                            alt="Arizona Wilderness Brewing Co." data-aos="fade-up">
                    </div>
                </section>
                <!-- Intro Section -->
                <section id="postHero" class="container-flex padding-y-100">
                    <div class="container px-5 content-max" data-aos="fade-up">
                        <h1>Dashboard UI / Product Design</h1>
                        <h3>Adscend Media</h3>
                    </div>
                    <div class="container p-5 content-max" data-aos="fade-up">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card p-3 detailsCard">
                                    <div class="card-body">
                                        <div class="p-3">
                                            <p class="fs-smaller"><strong>Dates:</strong><br>
                                                2014-2018</p>
                                        </div>
                                        <div class="p-3">
                                            <p class="fs-smaller"><strong>Main Collaborators:</strong><br>
                                                Fehzan Ali (CEO)<br>
                                                Mike Dunn (CTO)<br>
                                                Tony Cohn (Marketing)
                                            </p>
                                        </div>
                                        <div class="p-3">
                                            <p class="fs-smaller"><strong>Platforms</strong><br>
                                                Web<br>
                                                Android (SDK)<br>
                                                iOS (SDK)
                                            </p>
                                        </div>
                                        <div class="p-3">
                                            <p class="fs-smaller"><strong>My Role:</strong><br>
                                                User Research<br>
                                                User Flows<br>
                                                Wireframes<br>
                                                Prototyping / Testing<br>
                                                Micro Animations<br>
                                                High Fidelity Design<br>
                                                Hand-Off to dev and final QA<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <p>From 2014-2019, I worked at an Ad Network and Monetization company called Adscend
                                    Media.
                                    As the only designer in the company, I wore many hats including Art Direction and
                                    Branding, working with Marketing on various campaigns, and also UI and Product
                                    design
                                    which is the focus of this project. One of the first and largest tasks I was
                                    assigned
                                    was to revamp their client dashboard. To learn a bit more about my time at Adscend
                                    Media, be sure to visit the branding and web design project.<br><br>

                                    The dashboard served three main purposes:
                                    1. A place where clients / partners (called publishers) could search through our ad
                                    offer database; manage, integrate, and monetize direct offers.
                                    2. Allow clients to view statistics and analytics of their offers and monetization
                                    products.
                                    3. Set up and integrate Adscend Media monetization solutions / products onto their
                                    website and apps.<br><br>

                                    Though the dashboard was in major need of a revamp, it wasn’t exactly a revenue
                                    driver
                                    for Adscend Media, so one of the biggest challenges was working on updating the
                                    dashboard while simultaneosly working on other projects such as the Offer Wall
                                    (below)
                                    which ended up being one of the most successul products, bringing in millions in
                                    revenue.</p>

                            </div>
                        </div>
                    </div>
                </section>
                <section id="wireframes" class="container-flex">
                    <div class="container px-5 content-max">
                        <h2 class="text-center">Dashboard Flows & Wireframes</h2>
                        <img src="/assets/images/interior/adscend-ui/flow_wireframes.png"
                            alt="Dashboard Flows and Wireframes" class="img-size" data-aos="fade-up">
                    </div>
                </section>
                <section id="dashscreens" class="container-flex">
                    <div class="container-flex padding-y-100">
                        <hr>
                    </div>
                    <div class="container px-5 content-max">

                        <p>The landing page was designed to give users a quick overview of their account. This included
                            an
                            announcements section, quick stats, earnings and revenue broken down by day, week, and
                            month; as
                            well as some of the latest and newest offers that were recently added to the platform.</p>
                        <div class="container px-5 adscend-img">
                            <img src="/assets/images/interior/adscend-ui/dash_001.png"
                                alt="Dashboard Flows and Wireframes" class="padding-y-100 img-size" data-aos="fade-up">
                        </div>
                        <p>Adscend Media boasted around 2,000+ offers at any given time. I helped to organized and
                            create a
                            robust search feature (up to 10 different search options) so their users could easily find
                            individual offers that best suited their needs.<br><br>

                            One of the biggest challenges for this page was the need to display up to 18 different offer
                            informational points within your results.</p>
                        <div class="container px-5 adscend-img">
                            <img src="/assets/images/interior/adscend-ui/dash_004.png"
                                alt="Dashboard Flows and Wireframes" class="padding-y-100 img-size" data-aos="fade-up">
                        </div>
                    </div>
                    <div class="container px-5">
                        <!-- IMAGE -->
                        <p>The dashboard also included a reports and stats page for Publishers, which included various
                            data
                            points that could be searched by specific dates.<br><br>

                            Stats were shown in a list view and included information such as Click Count, leads (offer
                            completion), Conversion %, and Revenue. Filters were included so clients could view stats by
                            Country, Specific Offers, By Product, and even down to specific user.
                        </p>
                        <div class="container px-5 adscend-img">
                            <img src="/assets/images/interior/adscend-ui/dash_005a.png"
                                alt="Dashboard Flows and Wireframes" class="padding-y-100 img-size" data-aos="fade-up">
                        </div>
                    </div>
                    <div class="container px-5">
                        <!-- IMAGE -->
                        <p>Adscend Media offered three main products that could be set up to monetize a website or an
                            app.
                            The Offer Wall, Market Research, and Hideout.tv, which was a monetization video
                            platform.<br><br>
                        <div class="container px-5 adscend-img">
                            <img src="/assets/images/interior/adscend-ui/dash_006.png"
                                alt="Dashboard Flows and Wireframes" class="padding-y-100 img-size" data-aos="fade-up">
                        </div>
                        <p> Though Market Research and Hideout.TV were actually integrated into the Offer Wall, they
                            were
                            also able to be set up individually, and the goal was to great as similar a flow for each
                            product for familiarity. The typical set up was to create a profile with basic information,
                            customize the product’s color scheme, and integrating with the help of our documentation.
                        </p>
                        <div class="container px-5 adscend-img">
                            <img src="/assets/images/interior/adscend-ui/dash_007.png"
                                alt="Dashboard Flows and Wireframes" class="padding-y-100 img-size" data-aos="fade-up">
                        </div>
                    </div>
                </section>
                <section id="Offer Wall" class="container-flex ">
                    <div class="container-flex py-5 offerwallbg">
                        <div class="container">
                            <h1 class="text-white">Offer Wall Product Design</h1>
                            <h3 class="text-white">Adscend Media</h3>
                            <div class="container px-5 adscend-img">
                                <img src="/assets/images/interior/adscend-ui/offer_001.png"
                                    alt="Dashboard Flows and Wireframes" class="img-size" data-aos="fade-up">
                            </div>
                        </div>
                    </div>
                    <div class="container padding-y-100">
                        <p class="px-5">The Offer Wall was Adscend Media's first monetization tool in the Rewarded Ad
                            space, and the
                            first product I helped bring to life when I joined their team. The premise is that our
                            Publishers who have reward sites (sites like swagbacks.com or prizerebel.com) could
                            integrate
                            the Offer Wall into their site. Users could then choose which ad offers to complete, in
                            order to
                            earn points they can use towards rewards. The idea was to create an easy to integrate
                            solution,
                            that lists all available offers, as well as be able to filter them by categories or
                            payouts.<br><br>

                            The biggest challenge with this project was the initial time to build. I was initially hired
                            while the product was already being developed, so we had to scramble to get the UI of the
                            product designed asap. Though the product saw a successful initial launch, I did also
                            spearhead
                            a redesign about a year after launch to help fix a lot of initial usability issues. The
                            redesign
                            is what is showcased here.<br><br>

                            The landing page included different offer categories available at the top, sorting filters,
                            our
                            special survey and video offers, as well as a list of all other offers. From here users
                            could
                            simply scroll down to view more offers, or narrow offers down to their interest.<br><br>

                            The Offer Wall ultimately went on to generate millions in revenue for Adscend Media.</p>
                        <div class="container px-5 my-5 adscend-img">
                            <img src="/assets/images/interior/adscend-ui/offer_002.png"
                                alt="Dashboard Flows and Wireframes" class="img-size" data-aos="fade-up">
                        </div>
                        <div class="container px-5 my-5 adscend-img">
                            <img src="/assets/images/interior/adscend-ui/offer_004.png"
                                alt="Dashboard Flows and Wireframes" class="img-size" data-aos="fade-up">
                        </div>
                        <p class="px-5">One of the Offer Wall’s largest revenue drivers was the integrated Market
                            Research. Users
                            would
                            begin by creating a profile for themselves. They would then be given a variety of Market
                            Research survey offers based on their profile. Though user’s would still have to qualify
                            further
                            for the surveys, the surveys would refresh daily, giving them incentive to continue to
                            return
                            and try again.<br><br>

                            On the main landing page of the offer wall, we chose to display the Market Research profiler
                            prominently. We included Question #1 of the profile right on the initial card to create less
                            barriers to getting started, and offer extra points as an incentive for creating their
                            profiler.
                        </p>
                        <div class="container px-5 my-5 adscend-img">
                            <img src="/assets/images/interior/adscend-ui/offer_005.png"
                                alt="Dashboard Flows and Wireframes" class="img-size" data-aos="fade-up">
                        </div>

                        <p class="px-5">After answering the first question, the remaining 19 questions of the profiler
                            were launched
                            in
                            an on screen modal / overlay.<br><br>

                            The profiler was designed to include an auto-next style function. When a question was
                            answered,
                            we would automatically move the user to the next question. No need to press next.That being
                            said
                            however, we also needed to account for user error, so we also included the ability to go
                            back in
                            case an incorrect option was chosen on accident.<br><br>

                            Once the profiler was started, we would also save the user’s progress, in case they were to
                            get
                            interrupted, they could pick up where they left off.</p>
                        <div class="container px-5 my-5 adscend-img">
                            <img src="/assets/images/interior/adscend-ui/offer_006.png"
                                alt="Dashboard Flows and Wireframes" class="img-size" data-aos="fade-up">
                        </div>
                        <div class="container my-5 px-5 adscend-img">
                            <div class="row">
                                <div class="col-lg-4">
                                    <img src="/assets/images/interior/adscend-ui/offer_007.png"
                                        alt="Dashboard Flows and Wireframes" class="m-2 img-size" data-aos="fade-up">
                                </div>
                                <div class="col-lg-4">
                                    <img src="/assets/images/interior/adscend-ui/offer_008.png"
                                        alt="Dashboard Flows and Wireframes" class="m-2 img-size" data-aos="fade-up">
                                </div>
                                <div class="col-lg-4">
                                    <img src="/assets/images/interior/adscend-ui/offer_009.png"
                                        alt="Dashboard Flows and Wireframes" class="m-2 img-size" data-aos="fade-up">
                                </div>
                                <div class="col-lg-4">
                                    <img src="/assets/images/interior/adscend-ui/offer_010.png"
                                        alt="Dashboard Flows and Wireframes" class="m-2 img-size" data-aos="fade-up">
                                </div>
                                <div class="col-lg-4">
                                    <img src="/assets/images/interior/adscend-ui/offer_011.png"
                                        alt="Dashboard Flows and Wireframes" class="m-2 img-size" data-aos="fade-up">
                                </div>
                                <div class="col-lg-4">
                                    <img src="/assets/images/interior/adscend-ui/offer_012.png"
                                        alt="Dashboard Flows and Wireframes" class="m-2 img-size" data-aos="fade-up">
                                </div>
                                <div class="col-lg-4">
                                    <img src="/assets/images/interior/adscend-ui/offer_013.png"
                                        alt="Dashboard Flows and Wireframes" class="m-2 img-size" data-aos="fade-up">
                                </div>
                                <div class="col-lg-4">
                                    <img src="/assets/images/interior/adscend-ui/offer_014.png"
                                        alt="Dashboard Flows and Wireframes" class="m-2 img-size" data-aos="fade-up">
                                </div>
                                <div class="col-lg-4">
                                    <img src="/assets/images/interior/adscend-ui/offer_015.png"
                                        alt="Dashboard Flows and Wireframes" class="m-2 img-size" data-aos="fade-up">
                                </div>
                            </div>
                        </div>
                        <p class="px-5">Once the profiler was successfully completed, users would immediately be shown
                            our Market
                            Research offers, both on the homepage as well as in the specific High Paying Survey section
                            within the Survey offer category.</p>
                        <div class="container px-5 my-5 adscend-img">
                            <img src="/assets/images/interior/adscend-ui/offer_016.png"
                                alt="Dashboard Flows and Wireframes" class="img-size" data-aos="fade-up">
                        </div>
                        <p class="px-5">The rewarded ad space is not exactly known for user support. Most competing
                            offer wall
                            required
                            users to go through the Publisher first, who might then reach out to the Offer Wall
                            company.<br><br>

                            Our goal was to not only offer the best incentive, but also a great support section built
                            into
                            the offer wall. Our support panel featured and FAQ for new users(the rewarded ad space can
                            be a
                            bit confusing unfortunately), Offer History + email support, an area to make updates to your
                            Market Research Profile, as well as the ability to receive notifications.</p>
                        <div class="container px-5 my-5 adscend-img">
                            <img src="/assets/images/interior/adscend-ui/offer_017.png"
                                alt="Dashboard Flows and Wireframes" class="img-size" data-aos="fade-up">
                        </div>
                        <div class="container my-5 px-5 adscend-img">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="/assets/images/interior/adscend-ui/offer_018.png"
                                        alt="Dashboard Flows and Wireframes" class="my-2 img-size" data-aos="fade-up">
                                </div>
                                <div class="col-lg-6">
                                    <img src="/assets/images/interior/adscend-ui/offer_019.png"
                                        alt="Dashboard Flows and Wireframes" class="my-2 img-size" data-aos="fade-up">
                                </div>
                                <div class="col-lg-6">
                                    <img src="/assets/images/interior/adscend-ui/offer_020.png"
                                        alt="Dashboard Flows and Wireframes" class="my-2 img-size" data-aos="fade-up">
                                </div>
                                <div class="col-lg-6">
                                    <img src="/assets/images/interior/adscend-ui/offer_021.png"
                                        alt="Dashboard Flows and Wireframes" class="my-2 img-size" data-aos="fade-up">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>




            </main>

            <%- include('partials/get-in-touch'); %>

                <%- include('partials/footer'); %>
                    <!--   Single page scripts -->
                    <script src="/assets/js/header.js" type="text/javascript"></script>
                    <!-- End Body -->
                    <%- include('partials/html-end-doc'); %>