<%- include('partials/html-start-doc'); %>
    <!-- Start Body -->
    <%- include('partials/menu'); %>
        <%- include('partials/header'); %>
            <main id="azwBranding">
                <!-- Intro Hero -->
                <div class="container-flex hero azw-branding-hero p-5">
                    <div class="container text-center padding-y-200">
                        <img class="img-size logo-max-size"
                            src="/assets/images/interior/azw-branding/azw_logo_white.svg" alt="Adscend Media Logo"
                            data-aos="fade-up">
                    </div>
                </div>
                <div id="postHero" class="container-flex pt-5">
                    <div class="container px-5" data-aos="fade-up">
                        <h1>Branding and Print Design</h1>
                        <h3>Arizona Wilderness Brewing Co.</h3>
                    </div>
                    <div class="container p-5" data-aos="fade-up">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card p-3 detailsCard">
                                    <div class="card-body">
                                        <div class="p-3">
                                            <p class="fs-smaller"><strong>Dates:</strong><br>
                                                2014-Present</p>
                                        </div>
                                        <div class="p-3">
                                            <p class="fs-smaller"><strong>Main Collaborators:</strong><br>
                                                Jonathon Buford (Founder)<br>
                                                Patrick Ware (Founder)<br>
                                                AZW Marketing Team
                                            </p>
                                        </div>
                                        <div class="p-3">
                                            <p class="fs-smaller"><strong>My Role:</strong><br>
                                                Concepting<br>
                                                Identity Design<br>
                                                Brand Standards<br>
                                                Print Collateral</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 pt-5">
                                <p>This project began back in 2014, the craft beer scene was finally starting
                                    to
                                    gain
                                    traction in
                                    the Phoenix, AZ valley. At the time, the only existing craft breweries in the region
                                    were
                                    larger
                                    production focused breweries, who didn’t dare to deviate from their core line-up of
                                    beers.<br><br>

                                    From blistering deserts to lush forests and snow topped mountains, founders Jonathon
                                    Buford
                                    and
                                    Patrick Ware were inspired by natures diversity to create a brewpub with just as
                                    diverse
                                    offerings. From traditional Ales, dry-hopped double IPA’s to Barrel Aged Stouts and
                                    sour
                                    beers,
                                    Arizona Wilderness was one of the first breweries in the area to break the mold of
                                    what
                                    it
                                    meant
                                    to be a local brewery.<br><br>

                                    Their ethos goes beyond just their wide variety of beers though. Arizona Wilderness
                                    is
                                    all
                                    about
                                    Arizona First. They have made it their mission to source as much of their
                                    ingredients in
                                    both
                                    their beers and their food from local Arizona farms and growers. From their use of
                                    AZ
                                    grown
                                    grains from Sinagua Malt, to Arizona Grass Fed Beef and vegetables sourced from
                                    local
                                    farms.
                                    Arizona Wilderness is all about keeping everything as interesting and diverse as the
                                    beautiful
                                    Wilderness areas in the state, and above all, keeping it local.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-flex" data-aos="fade-up">
                    <div class="pos-relative">
                        <div class="row margin-0">
                            <div class="col-md-6  sign1 padding-top-200">
                            </div>
                            <div class="col-md-6 sign2 padding-top-200">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Identities -->
                <div class="container-flex padding-y-100">
                    <div class="container p-5 text-center" data-aos="fade-up">
                        <h1>Primary Identity</h1>
                        <img class="mt-5 img-size logo-max-size"
                            src="/assets/images/interior/azw-branding/identity_main.svg"
                            data-src="/assets/images/interior/azw-branding/identity_main.svg"
                            alt="Arizona Wilderness Primary Identity Design" data-aos="fade-up"><br>
                        <p class="mt-5">The primary brand identity was inspired by the various wooden signs one can see
                            in
                            wilderness
                            areas, across the US. Made of wood, they tend to have a bit of an unusual shape to them
                            which
                            makes them stand out. When I first consulted with the founders, they weren’t at the time
                            putting
                            too much thought into the importance of a well designed identity and how that relates to
                            building their brand. The biggest challenge of their identity was in the length of the name.
                            Initial variations included more details like wood grain, and other elements within the
                            design.
                            Eventually were able to work to a more simplified design which still contained the prominent
                            odd
                            shape of the actual Wilderness area signs.</p>
                    </div>
                    <div class="container p-5">
                        <div class="row" data-aos="fade-up">
                            <div class="col-md-6 text-center mt-5">
                                <h2>Second Location Identity</h2>
                                <img class="mt-5 img-size logo-max-size"
                                    src="/assets/images/interior/azw-branding/identity_dtphx.svg" data-aos="fade-up">
                                <p class="mt-2">After their 2014 award by Rate Beer, business exploded. They went from
                                    something
                                    like 15 employees to 60+ in what felt like over night. A few years later they
                                    expanded
                                    to a
                                    secondary location in Downtown Phoenix, which had a different business model. Due to
                                    this,
                                    they asked me to help design a secondary identity that still contained the same
                                    elements
                                    as
                                    the original, but made a clear distinction of the location.</p>
                            </div>
                            <div class="col-md-6 text-center mt-5">
                                <h2>Barrel Aged Products Identity</h2>
                                <img class="mt-5 img-size logo-max-size"
                                    src="/assets/images/interior/azw-branding/identity_woodnotes.svg"
                                    data-aos="fade-up">
                                <p class="mt-5">Along with their Downtown Phoenix location, they also opened a warehouse
                                    exclusively for their wild ales and Barrel Aged products. While this location is
                                    typically
                                    not open to the general public, it has been used for special events. Just as with
                                    the
                                    downtown Phoenix location, I was asked to create an identity for this location and
                                    for
                                    these
                                    products that had a bit more fo a high-end feel to it, as barrel aged products are
                                    typically
                                    more expensive.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Badges -->
                <div class="container-flex mt-5">
                    <div class="azw-badges-hero" data-aos="fade-up">
                        <div class="container padding-y-100">
                            <h1 class="text-light">Badges</h1>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <div class="img-badge">
                                        <img src="/assets/images/interior/azw-branding/badge_5color.png"
                                            class="img-size" data-aos="fade-up">
                                    </div>
                                </div>
                                <div class="col-md-6 text-center">
                                    <div class="img-badge">
                                        <img src="/assets/images/interior/azw-branding/badge_1color.png"
                                            class="img-size" data-aos="fade-up">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Patterns -->
                <div class="container-flex">
                    <div class="azw-pattern-hero padding-y-100" data-aos="fade-up">
                        <h2 class="text-light text-center padding-y-200">Pattern Usage</h2>
                    </div>
                </div>
                <!-- Typography -->
                <div class="container-flex padding-y-100">
                    <div class="container p-5" data-aos="fade-up">
                        <h2 class="text-center">Typography</h2>
                        <div class="row padding-y-100 ">
                            <div class="col-md-3">
                                <h3 class="text-center">Primary:</h2>
                            </div>
                            <div class="col-md-9">
                                <img src="/assets/images/interior/azw-branding/font-headers.png" class="img-size">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h3>Secondary:</h2>
                            </div>
                            <div class="col-md-9">
                                <img src="/assets/images/interior/azw-branding/font-copy.png" class="img-size">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Colors -->
                <div class="container-flex bg-light pb-5">
                    <div class="pos-relative">
                        <div class="row margin-0" data-aos="fade-up">
                            <h1 class="pos-absolute color-header">Primary Colors</h1>
                            <div class="col-md-6  primarycolor1 padding-top-200">
                                <h3 class="mb-3 text-light">PMS 4244 C <br>
                                    #7E694F</h3>
                            </div>
                            <div class="col-md-6 primarycolor2 padding-top-200">
                                <h3 class="mb-3 text-light">PMS 3564 C<br>
                                    #EF6A00</h3>
                            </div>
                        </div>
                    </div>
                    <div class="container my-5" data-aos="fade-up">
                        <p class="text-center px-5">Being inspired by the wilderness, the goal was to invoke earth
                            tones, but
                            also keep the option to
                            use a bright color to demand attention.
                        </p>
                    </div>
                    <div class="pos-relative">
                        <div class="row margin-0" data-aos="fade-up">
                            <h1 class="pos-absolute color-header">Secondary Colors
                            </h1>
                            <div class="col-md-3  secondary1 padding-top-200">
                                <h3 class="mb-3 text-light">PMS 7687 C
                                    <br>
                                    #1D4289
                                </h3>
                            </div>
                            <div class="col-md-3 secondary2 padding-top-200">
                                <h3 class="mb-3 text-light">PMS 193C
                                    <br>
                                    #bb133e
                                </h3>
                            </div>
                            <div class="col-md-3 secondary3 padding-top-200">
                                <h3 class="mb-3 text-dark">PMS 107 C <br>
                                    #fff22d</h3>
                            </div>
                            <div class="col-md-3 secondary4 padding-top-200">
                                <h3 class="mb-3 text-light">PMS 7566 C
                                    <br>
                                    #a96a31
                                </h3>
                            </div>
                        </div>
                        <div class="container my-5" data-aos="fade-up">
                            <p class="text-center px-5">Due to the business's hyper focus on Arizona first ingredients,
                                the
                                AZ
                                state
                                flag colors were also employed a lot as secondary colors to emphasize locality.
                                Particularly
                                through the use of the badge / icon. These colors are meant to be use sparingly.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Tagline -->
                <div class="container-flex padding-y-100">
                    <div class="container text-center px-5 max-w-600">
                        <h1 class="my-5">Tagline</h1>
                        <img src="/assets/images/interior/azw-branding/tagline.svg" alt="Tagline" class="img-size"
                            data-aos="fade-up">
                    </div>
                </div>
                <!-- Hospitality Touchpoints -->
                <div class="container-flex bg-white padding-top-100">
                    <div class="container px-5 max-w-995">
                        <h1>Hospitality Touch Points</h1>
                        <img src="/assets/images/interior/azw-branding/menu_gilbert.png"
                            alt="Food Menu Gilbert Location" class="my-4 img-size" data-aos="fade-up">
                        <img src="/assets/images/interior/azw-branding/menu_dtphx.png" alt="Food Menu DTPHX Location"
                            class="my-4 img-size" data-aos="fade-up">
                        <img src="/assets/images/interior/azw-branding/az_beef.png"
                            alt="All AZ Beer Informational Posters" class="my-4 img-size" data-aos="fade-up">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="/assets/images/interior/azw-branding/togo-box.png" alt="To-Go Box"
                                    class="img-size" data-aos="fade-up">
                            </div>
                            <div class="col-md-6">
                                <img src="/assets/images/interior/azw-branding/coaster.png" alt="Coasters"
                                    class="img-size" data-aos="fade-up">
                            </div>
                        </div>
                    </div>
                    <!-- Cans -->
                    <div class="container my-5">
                        <h1 clss="my-5">Mainstay Label Template</h1>
                        <div class="container text-center my-5">
                            <img src="/assets/images/interior/azw-branding/can_AmPres.png"
                                alt="American Presidential Stout" data-aos="fade-up" class="can-image">
                            <img src="/assets/images/interior/azw-branding/can_Babo.png" alt="Babo Belgian Blonde"
                                data-aos="fade-up" class="can-image">
                            <img src="/assets/images/interior/azw-branding/can_BieredeWassail.png" alt="Bier de Wassail"
                                data-aos="fade-up" class="can-image">
                            <img src="/assets/images/interior/azw-branding/can_BigGuyRye.png" alt="Big Guy Rye"
                                data-aos="fade-up" class="can-image">
                            <img src="/assets/images/interior/azw-branding/can_bwbw.png"
                                alt="Bear Wallow Berliner Weiss" data-aos="fade-up" class="can-image">
                            <img src="/assets/images/interior/azw-branding/can_DCMountain.png"
                                alt="DC Mountain Double IPA" data-aos="fade-up" class="can-image">
                            <img src="/assets/images/interior/azw-branding/can_PicachoPecan.png"
                                alt="Picacho Pecan Pie Brown" data-aos="fade-up" class="can-image">
                            <img src="/assets/images/interior/azw-branding/can_Refuge.png" alt="Refuge IPA"
                                data-aos="fade-up" class="can-image">
                        </div>
                    </div>
                    <div class="container-flex padding-top-200">
                        <h1>Merch</h1>
                        <img src="/assets/images/interior/azw-branding/shirt001.png" alt="Refuge IPA" class="img-size"
                            data-aos="fade-up">
                        <img src="/assets/images/interior/azw-branding/shirt002.png" alt="Refuge IPA" class="img-size"
                            data-aos="fade-up">
                        <img src="/assets/images/interior/azw-branding/shirt003.png" alt="Refuge IPA" class="img-size"
                            data-aos="fade-up">
                        <img src="/assets/images/interior/azw-branding/shirt004.png" alt="Refuge IPA" class="img-size"
                            data-aos="fade-up">
                        <img src="/assets/images/interior/azw-branding/shirt005.png" alt="Refuge IPA" class="img-size"
                            data-aos="fade-up">
                        <img src="/assets/images/interior/azw-branding/shirt007.png" alt="Refuge IPA" class="img-size"
                            data-aos="fade-up">
                    </div>
                </div>
            </main>

            <%- include('partials/get-in-touch'); %>

                <%- include('partials/footer'); %>
                    <!--   Single page scripts -->
                    <script src="/assets/js/header.js" type="text/javascript"></script>
                    <!-- End Body -->
                    <%- include('partials/html-end-doc'); %>