<%- include('partials/html-start-doc'); %>
    <!-- Start Body -->
    <%- include('partials/menu'); %>
        <%- include('partials/header'); %>
            <main id="design">
                <!-- Intro Hero -->
                <section class="container-flex py-5 pos-relative">
                </section>
                <!-- Intro Section -->
                <section id="postHero" class="container-flex py-5 text-center">
                    <div class="container" data-aos="fade-up">
                        <h1>Design Projects I've Worked On</h1>
                        <h3>My design experience includes UI/UX, Responsive Web Design, Branding, Identity Design,
                            Print Design and
                            Vector
                            Illustrations. <a href="https://www.instagram.com/rojorevolution/" target="new">Find me
                                on
                                Instagram</a> to view additional work.
                        </h3>
                    </div>
                    <div class="container py-5 text-center" data-aos="fade-up">
                        <%- include('partials/design-portfolio'); %>
                    </div>
            </main>
            <%- include('partials/get-in-touch'); %>
                <%- include('partials/footer'); %>
                    <!--   Single page scripts -->
                    <script src="/assets/js/header.js" type="text/javascript"></script>
                    <!-- End Body -->
                    <%- include('partials/html-end-doc'); %>