<%- include('partials/html-start-doc'); %>
    <!-- Start Body -->
    <%- include('partials/menu'); %>
        <%- include('partials/header'); %>
            <main id="hideout" class="bg-white">
                <!-- Intro Hero -->
                <section class="container-flex hero hideout-hero pos-relative">
                    <div class="pos-absolute headerGradient"></div>
                </section>
                <!-- Intro Section -->
                <section id="postHero" class="container-flex padding-y-100">
                    <div class="container px-5 content-max" data-aos="fade-up">
                        <h1>UI and Product Design</h1>
                        <h3 class="text-center">Hideout.tv</h3>
                    </div>
                    <div class="container p-5 content-max" data-aos="fade-up">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card p-3 detailsCard">
                                    <div class="card-body">
                                        <div class="py-3">
                                            <p class="fs-smaller"><strong>Dates:</strong><br>
                                                2017-2019</p>
                                        </div>
                                        <div class="py-3">
                                            <p class="fs-smaller"><strong>Main Collaborators:</strong><br>
                                                Fehzan Ali (CEO)<br>
                                                Mike Dunn (CTO)<br>
                                                Tony Cohn (Marketing)
                                            </p>
                                        </div>
                                        <div class="py-3">
                                            <p class="fs-smaller"><strong>Platforms</strong><br>
                                                Web<br>
                                                Android / FireTv<br>
                                                iOS
                                            </p>
                                        </div>
                                        <div class="py-3">
                                            <p class="fs-smaller"><strong>My Role:</strong><br>
                                                User Research<br>
                                                User Flows<br>
                                                Wireframes<br>
                                                Prototyping / Testing<br>
                                                Micro Animations<br>
                                                High Fidelity Design<br>
                                                Hand-Off to dev and final QA<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <p class="pt-5">Hideout.TV was both a video platform and first of it’s kind monetization
                                    solution within
                                    the rewarded ad space. Like many existing video platforms, the main revenue driver
                                    was
                                    video ads. The biggest differentiator however, was that viewers were a major part of
                                    the
                                    ecosystem as they would earn points for watching; which they could redeem with one
                                    of
                                    Hideout.TV’s reward partners. <br><br>

                                    The idea began as a way to introduce video ads to the Adscend Media ecosystem. We
                                    first
                                    built an MVP on the web, which was a simple video player with a limited amount of
                                    licensed content. Because we already had a substantial motivated user base in our
                                    Offer
                                    Wall product, we leveraged the MVP into our offer wall in order to test it with
                                    actual
                                    users. The MVP was a massive success as it saw quick user adoption, while at the
                                    same
                                    time showing us the challenges of working with video ads. We then decided to take
                                    the
                                    project further into a full fledged platform with user generated content as apposed
                                    to
                                    simply licensing videos and a host of other features for users as well.</p>
                                <div class="row py-4">
                                    <div class="col-lg-6">
                                        <div class="p-3">
                                            <p class="fs-smaller"><strong>MVP Feature List
                                                </strong><br>
                                                11 Channel Categories of Curated Videos <br>
                                                Account Not Needed<br>
                                                Auto-Cash Out To Reward Platform After 3rd Ad<br>
                                                Videos continually auto-play<br>
                                                Web Only
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="p-3">
                                            <p class="fs-smaller"><strong>Final Version Feature List
                                                </strong><br>
                                                15+ General Channels of Curated Videos<br>
                                                Video Creator Accounts: Create Channels, Upload Videos, Earn Ad
                                                Revenue<br>
                                                Search and filtering options for videos<br>
                                                Subscribe to channels<br>
                                                Video interaction: Like Videos, View Rewards As You Watch, Share, and
                                                Reactions<br>
                                                Link reward account(s) to Hideout account<br>
                                                Store Earned Points into User Account, Redeem at any time<br>
                                                Notifications for Channel Subscriptions, Points Earned, Points
                                                Redeemed<br>
                                                Videos continually auto-play<br>
                                                Web, Android App, and FireTV App launched. iOS App was built, but did
                                                not
                                                see the light of day.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Challenges -->
                <div class="container-flex py-5">
                    <hr>
                </div>
                <section id="challenges" class="container-flex">
                    <div class="container px-5 my-5 content-max">
                        <h2 class="text-center">Challenges</h2>
                        <div class="row py-5 my-5">
                            <div class="col-md-5 text-center">
                                <img src="/assets/images/interior/hideout/unmute.png" class="img-size">
                                <img src="/assets/images/interior/hideout/STILLTHERE.png" class="img-size pb-5">
                            </div>
                            <div class="col-md-7">
                                <h3>Fraud</h3>
                                <p>
                                    Fraud was always the first and foremost concern for us at Adscend Media. Online
                                    advertising campaigns can run very expesive budgets, so advertisers want to ensure
                                    their
                                    leads and impressions are genuine. On the end user side, we always needed to
                                    safeguard
                                    against those who would look to game the system. Measures such as limited sessions,
                                    user
                                    interaction / inactivity checker, mute checker, and a ton of other back end
                                    considerations had to be put in place. Legit users might still run into these
                                    implementations from time to time, so our goal was to always ensure the experience
                                    was
                                    not accusatory in any way. We created a whole support center with articles on how
                                    users
                                    could maximize their earnings legitimately, and also where they could contact us for
                                    help.
                                </p>
                            </div>

                        </div>
                        <div class="row py-5 my-5">
                            <div class="col-md-5 px-5">
                                <img src="/assets/images/interior/hideout/linking_account.png" class="img-size pb-5">
                            </div>
                            <div class="col-md-7">
                                <h3>Linking Reward Accounts</h3>
                                <p>
                                    Since we didn’t handle the rewards, we needed to find a seamless as possible way to
                                    link
                                    a
                                    user’s Hideout.TV account with their Rewards Account.Easy in theory, but our
                                    affiliates
                                    were
                                    not large companies and did not have an API we could integrate with. This meant that
                                    we
                                    had
                                    to take a slightly different approach where-in the UX may not have been optimal.
                                    Ultimately
                                    with the help of the engineering team, we were able to use a script that would
                                    detect
                                    users’
                                    accounts automatically. The script was placed on the initial landing page after
                                    logging
                                    into
                                    the third party reward providers account, and all the user had to do was then return
                                    to
                                    their Hideout account and refresh the page.
                                </p>
                            </div>

                        </div>
                        <div class="row my-5">
                            <div class="col-md-5 px-5">
                                <img src="/assets/images/interior/hideout/redeem_wire.png" class="img-size pb-5">
                            </div>
                            <div class="col-md-7">
                                <h3>Redeeming Points</h3>
                                <p>
                                    Because each reward provider could set their own payout terms for users, the points
                                    needed for rewards could vary wildly. Though the actual dollar amount was typically
                                    always the same, it meant that for one reward provider 100 Hideout points might
                                    equal
                                    $1.00, and for another 10,000 Hideout points could equal $1. This meant that upon
                                    redeeming your points on Hideout, a conversion needed to take place. Though this did
                                    require quite the explanation on the screen, we made sure the conversion amount was
                                    front and center and impossible to miss. Ultimately there is no way around these
                                    conversions, but we simply wanted to avoid user’s being unaware of what was
                                    happening
                                    with their points.
                                </p>
                            </div>
                        </div>
                        <div class="row my-5 py-5">
                            <div class="col">
                                <h3>Team Size and Resources</h3>
                                <p>
                                    Our team was small and resource limited. I was the only designer in the entire
                                    company
                                    and worked directly with the CTO. By this point, we did not have any in house
                                    engineers
                                    anymore, and that team was entirely out sourced. The ad industry being extremely
                                    volatile also meant we sometimes did not have the luxury of spending as much time as
                                    needed testing. As such, a lot of the UX work was done retro-actively after
                                    launching
                                    and getting live reactions. While this is not the ideal process, and I have always
                                    been
                                    a proponent of thorough testing before launching, it was one of the realities of
                                    what we
                                    had to work with. Luckily we already had a motivated user base.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="container-flex padding-y-100 ">
                    <hr>
                </div>
                <section class="container-flex padding-y-100">
                    <div class="container px-5 content-max">
                        <h2 class="text-center">User Flows / Wireframes</h2>
                        <p>Since we were such a small team, creating the initial wireframes and user flows revolved
                            around
                            dissecting some of the biggest video platforms already established. Our goal was to make
                            content
                            easy to browse and find, and include all of our own features. Main navigation included
                            featured
                            user channels, latest uploads to the platform, and most viewed videos. Once on a video page,
                            we
                            included some social interaction features(like video, share video, and reactions) and also a
                            dedicated area for users to view their accumulated earnings and redeem if desired.</p>
                        <div class="container text-center py-5">
                            <img class="img-size" src="/assets/images/interior/hideout/hideout_flows.png">
                        </div>
                    </div>
                </section>
                <div class="container-flex padding-y-100 ">
                    <hr>
                </div>
                <section id="visual" class="container-flex padding-y-100">
                    <div class="container px-5 content-max">
                        <h2 class="text-center">Visual Design Guidelines</h2>
                        <p class="my-5">A visual guide was created for the engineering team so they had easy access to
                            specs
                            including
                            the grid system, headers, navigation, buttons, icons, input fields, and different video
                            sizes.
                            The visual design system was housed on our Zeplin project for easy access to actual specs.
                        </p>
                        <img src="/assets/images/interior/hideout/visguide001.png" width="375" alt="Design Guidelines"
                            class="p-2" data-aos="fade-up">
                        <img src="/assets/images/interior/hideout/visguide002.png" width="375" alt="Design Guidelines"
                            class="p-2" data-aos="fade-up">
                        <img src="/assets/images/interior/hideout/visguide003.png" width="375" alt="Design Guidelines"
                            class="p-2" data-aos="fade-up">
                        <img src="/assets/images/interior/hideout/visguide004.png" width="375" alt="Design Guidelines"
                            class="p-2" data-aos="fade-up">
                        <img src="/assets/images/interior/hideout/visguide005.png" width="375" alt="Design Guidelines"
                            class="p-2" data-aos="fade-up">
                        <img src="/assets/images/interior/hideout/visguide006.png" width="375" alt="Design Guidelines"
                            class="p-2" data-aos="fade-up">
                        <img src="/assets/images/interior/hideout/visguide007.png" width="375" alt="Design Guidelines"
                            class="p-2" data-aos="fade-up">
                        <img src="/assets/images/interior/hideout/visguide008.png" width="375" alt="Design Guidelines"
                            class="p-2" data-aos="fade-up">
                    </div>
                </section>
                <div class="container-flex padding-y-100 ">
                    <hr>
                </div>
                <section id="landing" class="container-flex padding-y-100">
                    <div class="container px-5 content-max">
                        <h2 class="my-5 text-center">Landing Screens</h2>
                        <div class="container text-center py-5">
                            <img class="img-size" src="/assets/images/interior/hideout/landing.png">
                        </div>
                        <p class="my-5">At initial launch, our team curated specific “channels” of various videos that
                            users
                            could watch.
                            But as the platform grew, we began to onboard video creators to the platform and the focus
                            became featuring the Creator channels front and center. The goal was to not lock videos
                            behind
                            an account; this way users could still view any video at any time. However, the biggest
                            incentive for creating an account was to reap the rewards(literally) for watching.</p>
                        <div class="container text-center py-5">
                            <div id="videoDiv" class="text-center disp-inline">
                                <video autoplay muted loop width="350">
                                    <source src="/assets/images/interior/hideout/videos/hideout_featured.mp4"
                                        type="video/mp4">
                                </video>
                            </div>
                            <div id="videoReplace" class="text-center vid-img">
                                <img class="img-size" src="/assets/images/interior/hideout/featured.png">
                            </div>
                            <div id="videoDiv" class="text-center disp-inline">
                                <video autoplay muted loop width="350">
                                    <source src="/assets/images/interior/hideout/videos/mostviewed.mp4"
                                        type="video/mp4">
                                </video>
                            </div>
                            <div id="videoReplace" class="text-center vid-img">
                                <img class="img-size" src="/assets/images/interior/hideout/most_viewed.png">
                            </div>
                            <div id="videoDiv" class="text-center disp-inline">
                                <video autoplay muted loop width="350">
                                    <source src="/assets/images/interior/hideout/videos/search.mp4" type="video/mp4">
                                </video>
                            </div>
                            <div id="videoReplace" class="text-center vid-img">
                                <img class="img-size" src="/assets/images/interior/hideout/search.png">
                            </div>

                        </div>
                    </div>
                </section>
                <div class="container-flex padding-y-100 ">
                    <hr>
                </div>
                <section id="creatorChannels" class="container-flex">
                    <h2 class="py-5 text-center">Creator Channels</h2>
                    <div class="container px-5 text-center max-w-995">
                        <div id="videoDiv" class="text-center disp-inline">
                            <video autoplay muted loop width="350">
                                <source src="/assets/images/interior/hideout/videos/subscribe_btn.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div id="videoReplace" class="text-center vid-img">
                            <img class="img-size" src="/assets/images/interior/hideout/creator_about.png">
                        </div>
                        <div id="videoDiv" class="text-center disp-inline">
                            <video autoplay muted loop width="350">
                                <source src="/assets/images/interior/hideout/videos/channel_videos.mp4"
                                    type="video/mp4">
                            </video>
                        </div>
                        <div id="videoReplace" class="text-center vid-img">
                            <img class="img-size" src="/assets/images/interior/hideout/creator_videos.png">
                        </div>

                    </div>
                </section>
                <div class="container-flex padding-y-100 ">
                    <hr>
                </div>
                <section id="videoPlayer" class="container-flex padding-y-100">
                    <div class="container px-5 content-max">
                        <h2 class="py-5 text-center">Video Player Screen</h2>
                        <div class="container text-center py-5 max-w-995">
                            <div id="videoDiv" class="text-center disp-inline">
                                <video autoplay muted loop width="350">
                                    <source src="/assets/images/interior/hideout/videos/video-player.mp4"
                                        type="video/mp4">
                                </video>
                            </div>
                            <div id="videoReplace" class="text-center vid-img">
                                <img class="img-size" src="/assets/images/interior/hideout/player_like.png">
                            </div>
                            <div id="videoDiv" class="text-center disp-inline">
                                <video autoplay muted loop width="350">
                                    <source src="/assets/images/interior/hideout/videos/video-player-scroll.mp4"
                                        type="video/mp4">
                                </video>
                            </div>
                            <div id="videoReplace" class="text-center vid-img">
                                <img class="img-size" src="/assets/images/interior/hideout/player_rewards.png">
                            </div>
                        </div>
                        <p>
                            The video pages themselves boasted some similar features to other platforms. Including a
                            subscribe
                            button and a “Like” button. Because Hideout.TV was rewards focused though, another big
                            option
                            included an easy to access drawer that displayed the amount of currency the user had earned
                            up
                            to
                            that point. The redeem button was also highlighted so the user could go straight to cashing
                            out
                            at
                            any time.<br><br>

                            At the time, it was decided against including the ability to leave comments, but we also
                            integrated
                            a “Reactions” option as a way for users to leave video creators some form of feedback.
                        </p>
                        <div class="container text-center py-5">
                            <div id="videoDiv" class="text-center disp-inline">
                                <video autoplay muted loop width="350">
                                    <source src="/assets/images/interior/hideout/videos/like-video.mp4"
                                        type="video/mp4">
                                </video>
                            </div>
                            <div id="videoReplace" class="text-center vid-img">
                                <img class="img-size" src="/assets/images/interior/hideout/player_reactions.png">
                            </div>
                            <div id="videoDiv" class="text-center disp-inline">
                                <video autoplay muted loop width="350">
                                    <source src="/assets/images/interior/hideout/videos/video-rewards.mp4"
                                        type="video/mp4">
                                </video>
                            </div>
                            <div id="videoReplace" class="text-center vid-img">
                                <img class="img-size" src="/assets/images/interior/hideout/player_rewards.png">
                            </div>
                            <div id="videoDiv" class="text-center disp-inline">
                                <video autoplay muted loop width="350">
                                    <source src="/assets/images/interior/hideout/videos/video-reactions.mp4"
                                        type="video/mp4">
                                </video>
                            </div>
                            <div id="videoReplace" class="text-center vid-img">
                                <img class="img-size" src="/assets/images/interior/hideout/player_reactions.png">
                            </div>

                        </div>
                    </div>
                </section>
                <div class="container-flex padding-y-100">
                    <hr>
                </div>
                <section id="account" class="container-flex">
                    <div class="container px-5 content-max">
                        <h2 class="py-5 text-center">Account Screens</h2>
                        <p>The My Account section of course boasted first and foremost a Sign In / Sign Up page. Once
                            signed
                            in, users could access their Subscriptions and account settings. Other options included a
                            dedicated section to report any bugs, and an external link to our Support Center as well.
                            Most
                            importantly, this is where users could go to redeem their points.</p>
                        <div class="container text-center py-5">
                            <div id="videoDiv" class="text-center disp-inline">
                                <video autoplay muted loop width="350">
                                    <source src="/assets/images/interior/hideout/videos/myaccount-login.mp4"
                                        type="video/mp4">
                                </video>
                            </div>
                            <div id="videoReplace" class="text-center vid-img">
                                <img class="img-size" src="/assets/images/interior/hideout/account_signIn.png">
                            </div>
                            <div id="videoDiv" class="text-center disp-inline">
                                <video autoplay muted loop width="350">
                                    <source src="/assets/images/interior/hideout/videos/mysubs.mp4" type="video/mp4">
                                </video>
                            </div>
                            <div id="videoReplace" class="text-center vid-img">
                                <img class="img-size" src="/assets/images/interior/hideout/account_menu.png">
                            </div>
                            <div id="videoDiv" class="text-center disp-inline">
                                <video autoplay muted loop width="350">
                                    <source src="/assets/images/interior/hideout/videos/accountsettings.mp4"
                                        type="video/mp4">
                                </video>
                            </div>
                            <div id="videoReplace" class="text-center vid-img">
                                <img class="img-size" src="/assets/images/interior/hideout/account_subs.png">
                            </div>

                        </div>

                    </div>
                </section>
                <div class="container-flex padding-y-100">
                    <hr>
                </div>
                <section id="conclusion" class="container-flex padding-y-100">
                    <div class="container px-5 content-max">
                        <h2 class="text-center">In Closing</h2>
                        <p class="mb-5 py-2">This was really just a piece of everything that went into this project.
                            Mostly
                            I
                            just wanted to
                            showcase the mobile app more than anything. Other pieces to this project included the entire
                            web
                            app / platform including a Creator Portal where approved users could create their channels,
                            upload their videos, and view their stats. As well as few other user features. What this
                            project
                            looks like now, unfortunately I cannot say.</p>
                    </div>
                </section>
            </main>

            <%- include('partials/get-in-touch'); %>

                <%- include('partials/footer'); %>
                    <!--   Single page scripts -->
                    <script src="/assets/js/header.js" type="text/javascript"></script>
                    <!-- End Body -->
                    <%- include('partials/html-end-doc'); %>